<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <!-- Arquivo .css que modifica a página atual: -->
    <link rel="stylesheet" href="styles/page_css/dashboard.css">
</head>

<body>
    <%- include('includes/navbar') %>

    <!-- ----- x ----- x ----- x ----- -->
    <!-- Info Hero #1                  -->
    <!-- ----- x ----- x ----- x ----- -->
     
    <section class="hero section-2" id="content-start">
        <div class="row container justify-items-c">
            <div class="text-align-c text-group">
                <h1 class="b-title t-minecraft-ten">Olá <%= user.username %>! Bem-vindo(a)!</h1>
                <div class="buttons">
                    <a href="/dashboard?filter=mine">
                        <button class="btn s-text btn-medium btn-light">Meus Posts</button>
                    </a>
                    <a href="/dashboard?filter=all">
                        <button class="btn s-text btn-medium btn-light">Todos os Posts</button>
                    </a>
                </div>
            </div>
        </div>
    </section>  
    
    <section class="hero section-2" id="content-start">
        <div class="row container">
            <% posts.forEach(post => { %>
                <a href="/post/<%= post.id %>">
                    <div class="post-block">
                        <!-- Imagem de fundo -->
                        <div class="post-img">
                            <% if (post.banner) { %>
                                <img src="<%= post.banner %>" alt="Banner da postagem">
                            <% } else { %>
                                <img src="/static/images/hero/news-placeholder.png" alt="Placeholder">
                            <% } %>
                        </div>

                        <!-- Autor no topo -->
                        <div class="author s-text">
                            <!-- Blur de fundo -->
                            <div class="bg-color"></div>
                            
                            <%= post.username %>
                        </div>
    
                        <!-- Texto no rodapé -->
                        <div class="text-group">
                            <!-- Blur de fundo -->
                            <div class="bg-color"></div>

                            <div class="title b-text">
                                <%= post.title %>
                            </div>
                            <div class="date s-text">
                                Postado dia: <%= new Date(post.createdDate).toLocaleDateString('pt-BR') %>
                            </div>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>
    </section>    

    <%- include('includes/footer') %>
</body>
</html>