<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <!-- Arquivo .css que modifica a página atual: -->
    <link rel="stylesheet" href="/styles/page_css/single-post.css">
</head>

<body>
    <%- include('includes/navbar') %>
    <%- include('includes/main-hero-singlepost') %>

    <!-- ----- x ----- x ----- x ----- -->
    <!-- Info Hero #1                  -->
    <!-- ----- x ----- x ----- x ----- -->
     
    <section class="hero section-2" id="content-start">
        <div class="container">
            <div class="text-area">
                <h1 class="b-title t-minecraft-ten text-align-c"><%= post.title %></h1>
                <p class="b-text t-minecraft-seven text-align-c">Publicado em: <%= new Date(post.createdDate).getDate() %>/<%= new Date(post.createdDate).getMonth() + 1 %>/<%= new Date(post.createdDate).getFullYear() %></p>
                <br>
                <p class="b-text t-minecraft-seven text-align-c">Escrito por: <%= post.username %></p>
            </div>
    
            <div class="text-area">
                <p class="m-text text-align-j">
                    <%- filterUserHTML(post.body) %>
                </p>
            </div>
        </div>
    </section>

    <%- include('includes/footer') %>
</body>
</html>